<div class="container">
  <h1>
    <%= @restaurant.name %>
  </h1>

  <ul>
    <li> <%= @restaurant.address %> </li>
    <li> <%= @restaurant.phone_number %> </li>
    <li> Category : <%= @restaurant.category %> </li>
    <p>Reviews</p>
    <% @restaurant.reviews.each do |review| %>
      <li>
      <%= review.content %>
      </li>
      <li>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', restaurants_path, class: 'btn btn-info'  %>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

  <%= render '/reviews/new', review: @review, restaurant: @restaurant %>

